#main {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  background: linear-gradient(180deg, #31333B 13.26%, #363945 74.59%, #2B2D35 100%);
}
.App-header {
  display: flex;
  align-items: center;
  height: 168px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
  linear-gradient(180deg, #555761 -51.19%, #2B2D35 100%);
  overflow-x: scroll;
  overflow-y: hidden;
}
.App-header::-webkit-scrollbar {
  display: none;
}
.emptyText {
  display: flex;
  padding:0;
  margin: auto;
  width: 135px;
  height: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #4B4E5C;  
}
.shadowRight {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 999;
  width: 46px;
  height: 168px;
  right: 0;
  top: 0;
  background: linear-gradient(270deg, #282930 50%, rgba(40, 41, 48, 0) 100%);
}
.cardFrameTop {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  margin-left: 8px;
  height: 130px;
  width: 72px;
}
.removeHero {  
  position: relative;
  z-index: 10;
  top: 14%;
  left: 76%;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  background: #000000;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../img/remove.png');
  background-size: 50%;
}
.heroCounter {  
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  z-index: 10;
  top: 54%;
  left: 4%;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  background: #00C35A;
  border-radius: 20px;
  visibility: hidden;
}
.heroCardTop {
  position: relative;
  z-index: 0;
  top: -20%;
  color: #FFFFFF;
  min-height: 100px;
  max-height: 100px;
  min-width: 72px;
  max-width: 72px;
  border-radius: 8px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.App-body {
  padding:0 12px;
}

@media (max-width: 320px) {
  .App-body {
    padding:0 16px;
    background: linear-gradient(180deg, #31333B 13.26%, #363945 74.59%, #2B2D35 100%);

  }
}
@media (min-width: 768px) {
  .App-body {
    margin-right: 46px;
    padding-right:0;
  }
  }
.search-body {
  display: flex;
  align-items: center;
  height: 89px;
  width: 100%;
  
}
.searchBar {
  display: flex;
  padding:0;
  padding-left: 14px;
  min-height: 56px;
  max-height: 56px;
  border:0;
  background: #4B4E5C;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  color: #FFFFFF;
  width: 100%;
  position: relative;
}
@media (min-width: 767px) {
  .searchBar {
    max-width: 336px;
  }
}
.searchBar::placeholder {
  color: #FFFFFF;
}
.searchBar:focus {
  outline: none;
}
.searchImage {
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  margin-left: -40px;
  vertical-align: middle;
  background-size: contain;
  background-image: url("../../img/search-24.png");
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}
/*-------------------------------------------------------------------------------------------------*/
.chooseHeroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 89px;
}
  .cardFrame {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 16px;
  height: 130px;
  width: 72px;
}

.heroCard {
  display: flex;
  color: #FFFFFF;
  min-height: 100px;
  max-height: 100px;
  min-width: 72px;
  max-width: 72px;
  border-radius: 8px;
}
@media (max-width: 320px) {
  .heroCard {
    display: flex;
    /* flex: 0 0 0; */
    color: #FFFFFF;
    min-height: 100px;
    max-height: 100px;
    min-width: 64px;
    max-width: 64px;
    border-radius: 8px;
  }
  .cardFrame {
    width: 64px;
  }
  }
.heroName {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;  
  min-width: 64px;
  max-width: 72px;
  /* margin: 0; */
}
/*-------------------------------------------------------------------------------------------------*/

.dcImage {
  margin-right: 15px;
  min-height: 75px;
  max-height: 75px;
  min-width: 120px;
  max-width: 120px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("../../img/dc.png");
}
.marvelImage {
  margin-left: 15px;
  min-height: 50px;
  max-height: 50px;
  min-width: 111px;
  max-width: 111px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("../../img/marvel.png");
}