body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-search-cancel-button { 
  display: none; 
}
html::-webkit-scrollbar {
    display: none;
}